################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestApi/DesignTimeBuild/.dtbcache.v2
*.suo
