################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.../.vs\
.../.vs/
/.vs
/.vs/TestApi/DesignTimeBuild/.dtbcache.v2
*.suo
/Api/bin
/Api/obj